* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* START INDEX.HTML - HALAMAN AWAL  */

/* START NAVBAR */
.navbar {
    background-color: #f8f8f8;
    /* padding: 10px; */

}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
    gap: 10px;
}

.icon a {
    display: inline-block;
    /* margin-right: 10px; */
    margin: 10px;
}

.icon a:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.icon img {
    width: 20px;
    height: 20px;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    width: 15%;
    padding: 0 10px;
    height: 50px;
    border: 1px solid black;
    background-color: #0E2954;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo a {
    text-decoration: none;
    color: white;
}

.menu {
    float: right;
    width: 70%;
}

.menu ul {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.menu ul li {
    /* margin-left: 10px; */
    margin: 0 10px 0 10px
}


@media (max-width: 600px) {
    .navbar {
        padding: 10px;
    }

    .wrapper {
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .icon {
        display: none;
    }

    .icon a {
        margin-right: 10px;
    }

    .container-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .container-left {
        width: 100%;
    }

}

/* END NAVBAR */

/* START MAIN */

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 599px;
}

.content {
    text-align: center;
    margin-top: 150px;
}

.content h2 {
    margin-top: 20px;
}

.main-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

.tombol-main-list {
    font-weight: 550;
    margin: 0 10px;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    background-color: #1D5B79;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tombol-main-list:hover {
    cursor: pointer;
    background-color: #3291c0;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}


/* END MAIN */


/* START FOTBAR */


.fotbar {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #0E2954;
    color: white;
    padding: 10px 20px;
}


.fotbar p, a {
    margin: 9px 0 9px 0;
    font-size: 14px;
    color: white;
}

.fotbar img {
    margin-right: 10px;
}

/* END FOTBAR */


/* END INDEX.HTML - HALAMAN AWAL */


.main-absensi {
    padding: 20px;
    /* background-color: #f5f5f5; */
}

.main-absensi-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    min-height: 551px;
}

.main-absensi-top h3 {
    color: black;
    background-color: #dad7d7;
    /* width: 100%; */
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 20px; */
}

.container-left {
    width: 71%;
    background-color: white;
}

.container-left table {
    width: 70%;
    border-collapse: collapse;
}
.container-left th {
    align-items: center;
    text-align: center;
}
.container-left th,
.container-left td {
    padding: 10px;
    border: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

.container-left th {
    background-color: #ffffff;
    font-weight: bold;
}


.container-left tbody tr:hover {
    background-color: #eaf2ff;
}


/* Tambahkan CSS lain sesuai kebutuhan Anda */

.container-right {
    width: 27%;
    /* padding: 0 20px 0 20px; */
    background-color: #ffffff;
}

.container-right form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 15px;
    padding: 0 20px 0 20px;
}

.container-right .form-group {
    display: contents;
}

.container-right label {
    grid-column: 1;
    align-self: center;
}

.container-right input[type="text"],
.container-right input[type="time"],
.container-right input[type="date"] {
    grid-column: 2;
    /* width: 100%; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-right button[type="submit"] {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #1D5B79;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .main-absensi-top {
        flex-direction: column;
    }

    .container-right {
        width: 100%;
        margin-bottom: 20px;
        order: 1;
        padding-bottom: 16px;
    }

    .container-left {
        width: 100%;
        order: 2;
    }
}


.content-login {
    display: flex;
    justify-content: center;
}

.form-group-login {
    margin-top: 10px;
}

.input-icon {
    display: flex;
    justify-content: center;
}

.input-icon .icon-login {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.form-group-login label,
.form-group-login input[type="text"],
.form-group-login input[type="email"],
.form-group-login input[type="password"],
.form-group-login select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
}

.form-group-login input[type="text"]:focus,
.form-group-login input[type="email"]:focus,
.form-group-login input[type="password"]:focus {
    border-color: #007bff;
    border-width: 2px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.button-container {
    display: flex;
}

.button-container button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.login-button {
    background-color: #1D5B79;
    color: white;
    margin-right: 10px;
}

.login-button:hover {
    transition: ease 0.2s;
    background-color: #2d8ab8;
}

.signup-button {
    background-color: #f2b500;
    color: black;
}

.signup-button:hover {
    transition: ease 0.2s;
    background-color: #ffca2a;
}

.login-link {
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
}

.login-link a {
    color: #1D5B79;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
    color: #004b70;
}

@media (max-width: 600px) {
    .table-swipe {
        display: block;
        overflow-x: auto;
    }
}